[include]
    path = .gitconfig-account

[alias]
    a = add
    b = branch
    c = checkout
    d = diff
    dt = difftool
    i = commit
    k = cherry-pick
    l = log
    m = merge
    mt = mergetool
    r = reset
    re = rebase
    s = status
    w = show
    
[core]
    editor = 'emacs' -nw